{% extends "base.html" %}

{% block main %}
    <h1>Каталог книг</h1>

    <form class="panel-filter" method="GET">
        <label for="author">Автор:</label>
        <select name="author" id="author"></select>

        <label for="year">Год после:</label>
        <input type="number" name="year" id="year">

        <input type="submit" value="Найти">
    </form>


    <div class="wrap">
        {% for book in books %}
            <div class="card">
                <h2 class="title-card">
                    <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                </h2>
                <p class="desc-card">{{ book.desc }}</p>
                <p>Авторы:
                    {% for author in book.authors.all %}
                        <a href="{% url 'author_detail' author.id %}">{{ author.name }}</a>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock main %}

{% block scripts %}
    <script src="/static/loadForm.js"></script>
{% endblock scripts %}
