{% extends "base.html" %}

{% block main %}
    <h1>Главная сайт "Книги и хентайные комиксы"</h1>
    <div class="wrap">
        {% for book in books %}
            <div class="card">
                <h2 class="title-card">
                    <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                </h2>
                <p class="desc-card">{{ book.desc }}</p>
                <p>Авторы:
                    {% for author in book.authors.all %}
                        <a href="{% url 'author_detail' author.id %}">{{ author.name }}</a>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock main %}
